@model SiteX.Web.ViewModels.ShopViewModels.ProductModels.ProductViewModel
@{
    this.ViewData["Title"] = "Creating Product";

    var gendersList = new SelectList(Model.GendersToList);
    var categoriesList = new SelectList(Model.CategoriesToList, "Id", "Name");
    var locationsList = new SelectList(Model.LocationsToList, "Id", "Address");
    var sizesList = new SelectList(Model.SizesToList, "Id", "Name");
    var colorsList = new SelectList(Model.ColorsToList, "Id", "Name");

}

<form method="post" class=align-content-md-center>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

      <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>



    <div class=form-group>
        <label asp-for="Gender"></label>
        <select class="form-control" asp-for="Gender" asp-items="@gendersList" required>
            <span asp-validation-for="Gender" class="text-danger"></span>

        </select>
    </div>


    <div class=form-group>
        <label asp-for="Categories"></label>
        <select class="form-control" asp-for="Categories" asp-items="@categoriesList" required>
            <span asp-validation-for="Categories" class="text-danger"></span>

        </select>
    </div>

    <div class=form-group>
        <label asp-for="Locations"></label>
        <select class="form-control" asp-for="Locations" asp-items="@locationsList" required>
            <span asp-validation-for="Locations" class="text-danger"></span>
        </select>
    </div>

    <div class=form-group>
        <label asp-for="Colors"></label>
        <select class="form-control" asp-for="Colors" asp-items="@colorsList" required>
            <span asp-validation-for="Colors" class="text-danger"></span>
        </select>
    </div>

    <div class=form-group>
        <label asp-for="Sizes"></label>
        <select class="form-control" asp-for="Sizes" asp-items="@sizesList" required>
            <span asp-validation-for="Sizes" class="text-danger"></span>
        </select>
    </div>


    <div class="form-group">
        <label asp-for="Pictures"></label>
        <input asp-for="Pictures" value="" class="form-control" />
        <span asp-validation-for="Pictures" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Pictures"></label>
        <input asp-for="Pictures" value="" class="form-control" />
        <span asp-validation-for="Pictures" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Pictures"></label>
        <input asp-for="Pictures" value="" class="form-control" />
        <span asp-validation-for="Pictures" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Pictures"></label>
        <input asp-for="Pictures" value="" class="form-control" />
        <span asp-validation-for="Pictures" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"> </textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>


    <input type="submit" class="btn btn-primary" />

</form>
